*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}

section{
position: relative;
width: 100%;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: flex-start;
background: url(images/anthony-young-5_VuHDDwhL0-unsplash.jpg)no-repeat;
background-size: cover;
background-position: center;
}
img{
    height: 80px;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}
header .navigation a{
color: white;
background: transparent;
text-decoration: none;
font-weight: 500;
letter-spacing: 1px;
padding: 2px 15px;
border-radius: 20px;
transition: 0.3s;
transition-property: background;
}
header .navigation a:not(:last-child){
    margin-right: 30px;
}
header .navigation a:hover{
    background: transparent;
    box-shadow: orange 0 0 0 3px, transparent 0 0 0 0;
}
.content{
    max-width: 650px;
    margin: 60px 100px;
}
.content .info h2{
    color: orange;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}
.content .info h2 span{
    color: white;
    font-size: 60px;
    font-weight:600 ;
}
.content .info p{
    font-size: 25px;
    color: rgb(228, 226, 210);
    
}
.content .info-btn{
    color: white;
    background: orange;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;

}
.content .info-btn:hover{
    background: orange;
}
.media-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.media-icon a{
    position: relative;
    color: white;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}
.media-icon a:not(:last-child){
    margin-right: 60px;
}
.media-icon a:hover{
    transform: scale(1.5);
}
label{
    display: none;
}
#check{
    z-index: 3;
    display: none;
}
/* Responsiveness */
@media (max-width: 960px) {
    header .navigation {
        display: none;
    }

    label {
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: color 0.3s; /* Concise way to set color transition */
    }

    label:hover {
        color: white;
    }

    /* Assuming close-btn is a separate element, not inside the label */
    .close-btn {
        display: none;
    }
    #check:checked ~ header .navigation {
        z-index: 2;
        position: fixed;
        background: orange;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #check:checked ~ header .navigation a{
        font-weight:700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }
    #check:checked ~ header label .menu-btn{
        display: none;
    }
    #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
    } 
    label .menu-btn{
        position: absolute;
    }
    header .logo{
        position: absolute;
        bottom: -6px;
    }
    .content .info h2{
        font-size: 45px;
        line-height: 50px;
    }
    .content .info h2 span{
        font-size: 40px;
        font-weight: 600;
         
    }
    .content .info p{
        font-size: 14px;
    }
}
@media (max-width: 560px){
    .content .info h2{
        font-size: 35px;
        line-height: 40px;
    }
    .content .info h2 span{
        font-size: 30px;
        font-weight: 600;
         
    }
    .content .info p{
        font-size: 14px;
    }
    
}
.button-35 {
    align-items: center;
    background-color: transparent;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 2;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-35:hover {
    box-shadow: orange 0 0 0 3px, transparent 0 0 0 0;
  }